<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%=stylesheet_link_tag 'style'%>
    <%=javascript_pack_tag 'show'%>
</head>
<body>
    <div class="container-fluid" style="background-color: #fdf5f5">
        <%=render 'shared/headerAdmin'%>
        <div class="container-fluid my-3">
            <p class="alert<%if !flash[:error].blank?%><%=p " alert-secondary"%> <%else%><%=p " d-none"%><%end%>"><%= flash[:error] %></p>
            <p class="alert<%if !flash[:success].blank?%><%=p " alert-secondary"%> <%else%><%=p " d-none"%><%end%>"><%= flash[:success] %></p>           
        </div>
        <div class="row">
            <div class="col my-1 p-0  text-center text-xl-left">
                <div class="btn-group-toggle left_col mx-5" role="tablist">
                    <label class="btn font-weight-bold active manage left" >
                        <input type="radio" data-toggle="tab" href="#menu-photos" id="photos-tab"  role="tab" aria-controls="photos" aria-selected="true" name="manage"> Manage Photos
                    </label> <br>
                    <label class="btn font-weight-bold manage">
                        <input type="radio" data-toggle="tab" href="#menu-albums" id="albums-tab"  role="tab" aria-controls="albums" aria-selected="false" name="manage"> Manage Albums
                    </label>
                    <label class="btn font-weight-bold manage">
                        <input type="radio" data-toggle="tab" href="#menu-users" id="users-tab" role="tab" aria-controls="users" aria-selected="false" name="manage"> Manage Users
                    </label>
                </div>          
            </div>
            <div class="col-xl-8 photo_feed_container ">
            <div class="tab-content">
                <div id="menu-photos" class="tab-pane fade show active" role="tabpanel" aria-labelledby="photos-tab">
                    <%= render partial: "admin/photos", locals: { photos: @photos } %>
                </div>
                <div id="menu-albums" class="tab-pane fade" role="tabpanel" aria-labelledby="albums-tab">
                    <%= render partial: "admin/albums", locals: { albums: @albums } %>
                </div>
                <div id="menu-users" class="tab-pane fade" role="tabpanel" aria-labelledby="users-tab">
                    <%= render partial: "admin/users", locals: { users: @users } %>
                </div>
            </div>
            
                <div class="row w-100" style="height:500px" ></div>
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <nav aria-label="...">
                            <ul class="pagination">
                              <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">Previous</a>
                              </li>
                              <li class="page-item"><a class="page-link" href="#">1</a></li>
                              <li class="page-item active">
                                <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                              </li>
                              <li class="page-item"><a class="page-link" href="#">3</a></li>
                              <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                              </li>
                            </ul>
                          </nav>
                    </div>
                </div>
                
            </div>
            <div class="col p-0 m-0"></div>
            
        </div>
        <div class="row w-100 my-2"></div>
    </div>
     
      
</body> 

</html>