<div class="col-lg-6 photo_item">
                        <div class="card mb-3" >
                            <div class="row no-gutters photo_feed">
                                <div class="col-md-6 photo_feed_avatar " data-toggle="modal" data-target="#myModal">
                                    <img src="https://listdalat.com/wp-content/uploads/2019/06/khach-san-co-view-lang-mang-nhat-da-lat-gia-phong-duoi-1-trieudem-37515-1.jpg" alt="" class="">
                                </div>
                              <div class="col-md-6 ">
                                <div class="card-body p-3 ">
                                    <div class="col p-0 mb-2">
                                        <div class="col p-0 title_description_discovery justify_content-between">
                                            <img class="rounded-circle h-100" src="https://iupac.org/wp-content/uploads/2018/05/default-avatar.png" style="height: 32px; width:32px">
                                            <span class="font-weight-bold font-color text-center text-break p-1"><%="#{photo.user.firstName} #{photo.user.lastName}"%></span>
                                            <span class="btn-group-toggle btn_discovery_follow ml-auto py-1" style="width:80px" data-toggle="buttons">
                                                <label class="btn btn-outline-warning btn-sm active m-0 p-0" style="width:80%">
                                                    <input type="checkbox" autocomplete="off"  > follow
                                                </label>
                                            </span>
                                        </div>
                                    </div>
                                  <h6 class="card-title font-weight-bold title"><%=photo.title %></h6>
                                  <p class="card-text description"><%=photo.description%></p>
                                  <div class="d-flex justify-content-between ">
                                      <span>
                                        <span class = "heart"><i class="fa fa-heart-o" aria-hidden="true" ></i> </span>
                                        <small class = "like_number"><%=photo.like%></small>
                                      </span>
                                    
                                    <span class="card-text"><small class="text-muted"><%=photo.created_at %></small></span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>