
</html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>    
    
    <style>
        
    </style>
</head>
<body>
    <div class="container-fluid" style="background-color: #fdf5f5">
        <%=render 'shared/header'%>
        <div class="row w-100 my-2" ></div>
        <div class="row">
            <div class="col my-1 p-0  text-center text-xl-left">
                <div class="btn-group-toggle left_col mx-5">
                  <%=button_to 'Feeds', feedPhoto_path, {method: "get", class:"btn font-weight-bold"}%>
                  <button class="btn font-weight-bold active left">Discovery</button>    
                </div>          
            </div>
            <div class="col-xl-8 photo_feed_container">
                <div class="row justify-content-center my-4">
                     <div class="btn-group  btn-feed-toggle ">
                         <button class="btn font-weight-bold border-feed border-feed-photo active" style="border-radius:0px;">PHOTO</button>
                         <%=button_to 'ALBUM' , discovery_album_path, {method: "get", class: "btn font-weight-bold border-feed ", style:"border-radius: 0px"}%>
                       </div>
                 </div>
                 <div class="row flex ">
                    <%@photos.each do |photo| %>
                    <%=  render partial: 'discovery/photo', locals: {photo: photo}%>
                    <%end%>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="spinner-border" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                  </div>
            </div>
            <div class="col p-0 m-0"></div>
        </div>
        <div class="row w-100 my-2"></div>
    </div>
     <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title text-break" id="myModalLabel">No Title</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <img src="" alt="PHOTO" id="photoModal">
        </div>
        <div class="modal-footer text-break" id="myModalDescription">
            No Description
        </div>
      </div>
    </div>
  </div>
</body>
<%=javascript_pack_tag 'js'%>
<%=  stylesheet_link_tag 'style' %>
</html>