<div class="col-md-6 col-xl-3 photo_item ">
                        <div class="row justify-content-center ">
                            <div class="col-9 col my-2">
                                <div class="row">
                                    <div class="col p-0  gallery-item photo-stack photo_feed_avatar  container_change_button_photo" data-toggle="modal" data-target="#myModal">
                                        <%=album.photos.each do |photo|%>
                                        <%=image_tag(photo.image.url)%>
                                        <%end%>  
                                        <div class="gallery-item-info">
                                            <ul>
                                                <li class="gallery-item-num rounded-circle text-center py-4">
                                                    <div><%=album.photos.count%></div>
                                                    <div class="small">PHOTOS</div>
                                                </li>
                                            </ul>  
                                        </div>
                                        <%if current_user.id == @user.id%>
                                        <%=button_to t('.edit'), edit_user_album_path(id: album.id),{ class:"btn btn-sm font-weight-bold", method:"get"}%>
                                        <%end%>
                                    </div>
                                </div>
                                <div class="gallery-item-type rounded-circle <%=p " d-none" if album.shared%>">                                   
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-lock-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M2.5 9a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-7a2 2 0 0 1-2-2V9z"/>
                                            <path fill-rule="evenodd" d="M4.5 4a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z"/>
                                        </svg>                  
                                    </div>
                                <div class="row photo_tab_title ">
                                    <div class="col text-center title">
                                        <%=album.title%>
                                    </div>
                                </div>
                            </div>  
                        </div>
                    </div>