
<%= form_for [@album,@photo], url: user_album_path(user_id: params.require(:user_id)), html: {class: "row justify-content-center pt-3 mx-md-4", method: :put}, local: true  do |form|%>
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <%=form.label t('.title')%>
                                    <%=form.text_field :title, class:"form-control" ,id:"title_add_photo" , style:"border: 2px solid rgb(209, 207, 207)",placeholder:"title album",value:"#{@album.title}"%>
                                </div>
                                <div class="form-group w-50">                    
                                    <%=form.label t('.sharing')%>
                                    <%=form.select :shared, options_for_select([[t('.public'), true], [t('.private'), false]], @album.shared) %>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <%=form.label t('.description')%>
                                    <%=form.text_area :description, class:"form-control rounded-1", rows:"3" ,placeholder:"description album",value:"#{@album.description}", style:"border: 2px solid rgb(209, 207, 207)",size:"1x5"%>
                                 </div>
                            </div>
                        </div>
                        <div class="row pl-3 my-5 ">
                            <%@album.photos.each do |photo|%>
                            <div class="col-sm-6 col-lg-3 mr-2 mb-2 container_del_button_album " id="edit_album_image">
                            <%=image_tag(photo.image.url)%>
                            <%=link_to 'X', image_path(photo_id: photo.id), class:"btn btn-sm font-weight-bold rounded-circle", method: :delete, data: { confirm: 'Are you sure?'}%> 
                            </div> 
                            <%end%>
                            <%if @album.photos.count < 25%>
                            <label for="photo_image"  class="col-sm-6 col-lg-3 px-0 image-hover">
                                <%= image_tag 'plus.png' , id:"image_label"%>
                            </label>
                            <%=form.file_field :image, style:"display:none"%>
                            <%end%>   
                        </div>
                        <div class="row pl-3">
                            <div class="col-lg-5 col-md-5  p-0" >
                                <%= form.submit t('.save'), class:"btn btn-success m-0"%>
                               
                                
                            </div>
                        </div>          
                    </div>
<%end%>
<div class="row justify-content-center">
<div class="col-9 super" >
<%= button_to(user_album_path(album: @album.id), data: { confirm: "Are you sure?" }, method: :delete, :class => "btn btn-danger ml-4") do %>
                                <i class='fa fa-trash'></i>    <%=t('.delete')%> 
<%end%>
</div>

</div>