<%= form_for ([@album,@photo]) , url: user_albums_path(user_id: params.require(:user_id)), html: {class: "row justify-content-center pt-3 mx-md-4"}, local: true  do |form|%>
                    <div class="col ml-">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <%=form.label t('.title')%>
                                    <%=form.text_field :title, class:"form-control" ,id:"title_add_photo" , style:"border: 2px solid rgb(209, 207, 207)" ,placeholder:"Album Title"%>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-xl-6 col-md-6">
                                <div class="form-group">
                                    
                                    <%=form.label t(".sharing")%>
                                    <%=form.select :shared, options_for_select([[t('.public'), true], [t('.private'), false]],true) %>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="row pl-3 mb-3">
                            <label for="photo_image"  class="col-6 px-0 image-hover">
                                <%= image_tag 'plus.png' , id:"image_label"%>
                            </label>
                        <%=form.file_field :image, style:"display:none"%>
                        </div>
                        <div class="row">
                            <div class="col">
                                <%= form.submit t('.save'), class:"btn btn-success"%>
                            </div>
                        </div>
                        
                    </div>
                    <div class="col mr-4">
                        <div class="form-group">
                            <%=form.label t('.description')%>
                            <%=form.text_area :description, class:"form-control rounded-1", rows:"3" ,placeholder:"Album Description", style:"border: 2px solid rgb(209, 207, 207)",size:"1x5"%>
                          </div>
                    </div>
                <%end%>