<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%= javascript_pack_tag 'js' %>
    <%=stylesheet_link_tag 'style'%>
</head>
<body>
    <div class="container-fluid" style="background-color: #fdf5f5">
        <%= render 'shared/header'%>
        <div class="container-fluid my-3">
                    <p class="alert<%if !flash[:error].blank?%><%=p " alert-secondary"%> <%else%><%=p " d-none"%><%end%>"><%= flash[:error] %></p>
                     <p class="alert<%if !flash[:success].blank?%><%=p " alert-secondary"%> <%else%><%=p " d-none"%><%end%>"><%= flash[:success] %></p>
                </div>
        <div class="row">
            <div class="col-xl-2 col-sm-12  my-1 p-0  text-center text-xl-left">
                <div class="btn-group-toggle left_col mx-5">
                  <%=button_to 'Feeds', feedPhoto_path, {method: "get", class:"btn font-weight-bold"}%>
                  <%=button_to 'Discovery', discovery_photo_path, {method: "get", class:"btn font-weight-bold"}%>  
                </div>          
            </div>

            <div class="col-xl-8 col-sm-12 photo_feed_container">
                <div class="row container_tab p-0">
                        <div class="profile px-0">
                
                            <div class="profile-image">
                
                                <%=image_tag(@user.avatar.url)%>
                
                            </div>
                            <%if current_user.id == @user.id%>
                            <div class="row ">
                                <div class="col">
                                    <%= button_to t('.editProfile'), edit_user_registration_path, {class:"btn btn-sm btn-primary btn_edit_profile", method:'get'}%>
                                </div>
                            </div>
                            <%else%>
                                <div class="row ">
                                <div class="col-lg-3">
                                   <% if current_user.followings.ids.include?(@user.id)%>                                               
                                        <%=button_to t(".unfollow"), toggleFollow_path(follow_id: @user.id, id: current_user.id), class:"btn btn-sm btn_toggle_follow m-0 p-0 following",  method: :post%>
                                    <%else%>
                                        <%=button_to t(".follow"), toggleFollow_path(follow_id: @user.id, id: current_user.id),class:"btn  btn-sm btn_toggle_follow m-0 p-0 follow", method: :post%>              
                                    <% end %>
                                </div>
                                </div>
                            <%end%>
                            <div class="profile-user-name font-weight-bold"><%="#{@user.name}"%></div>
                
                            <div class="profile-stats">
                                <ul class="p-0 left_col">
                                <%if current_user.id == @user.id%>
                                    <li class="px-1 border-right font-weight-bold " ><%= link_to user_photos_path(@user.id), style:"text-decoration: none" do%> <span class='profile-stat-count'><%=@user.photos.where(album_id:nil).count%></span>  <%=t('.photos')%> <%end%> </li>
                                    <li class="px-1 border-right font-weight-bold " ><%= link_to user_albums_path(@user.id), style:"text-decoration: none" do%> <span class='profile-stat-count'><%=@user.albums.count%></span>  <%=t('.albums')%> <%end%> </li>
                                <%else%>
                                    <li class="px-1 border-right font-weight-bold " ><%= link_to user_photos_path(@user.id), style:"text-decoration: none" do%> <span class='profile-stat-count'><%=@user.photos.where(album_id:nil, shared:true).count%></span>  <%=t('.photos')%> <%end%> </li>
                                    <li class="px-1 border-right font-weight-bold " ><%= link_to user_albums_path(@user.id), style:"text-decoration: none" do%> <span class='profile-stat-count'><%=@user.albums.where(shared: true).count%></span> <%=t('.albums')%> <%end%> </li>
                                <%end%>
                                    <li class="px-1 border-right font-weight-bold left" ><span class="profile-stat-count left"><%=@user.followings.count%></span> <%=t('.followings')%></li>
                                    <li class="px-1 font-weight-bold " ><%= link_to followers_user_path(@user.id), style:"text-decoration: none" do%> <span class='profile-stat-count'><%=@user.followers.count%></span> <%=t('.followers')%> <%end%> </li>
                                </ul>
                            </div>
                        </div>
                </div>
                
                <div class="row  px-4">
                    <%@user.followings.each do |following|%>
                    <%=render partial: 'user/following', locals: {following: following}%>
                    <%end%>
                </div>
                <div class="row w-100 " style="height:500px"></div>
            </div>

            <div class="col-xl-2 col-sm-12 p-0 m-0">
            </div>
                
        </div>
        <div class="row w-100 my-2"></div>
    </div>

  
</body>

</html>