
<%= form_with scope: :user, local: true do |form| %>
  <p>
    <%= form.label :firstName %><br>
    <%= form.text_field :firstName %>
  </p>
    
<p>
    <%= form.label :lastName %><br>
    <%= form.text_field :lastName %>
  </p>
  <p>
    <%= form.label :email %><br>
    <%= form.text_field :email %>
  </p>
  <p>
    <%= form.label :password %><br>
    <%= form.password_field :password %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>