
<%= form_for @photo, url: user_photo_path(user_id: params.require(:user_id)), html: {class: "row justify-content-center pt-3 mx-md-4"}, local: true  do |form|%>
                    <div class="col ml-">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <%=form.label t('.title')%>
                                    <%=form.text_field :title, class:"form-control" ,id:"title_add_photo" , style:"border: 2px solid rgb(209, 207, 207)" ,placeholder:"Photo Title"%>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col col-xl-6 col-md-6">
                                <div class="form-group">
                                    
                                    <%=form.label t('.sharing')%>
                                    <%=form.select :shared, options_for_select([[t('.public'), true], [t('.private'), false]], @photo.shared) %>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="row pl-3 mb-5">
                            <label for="photo_image"  class="col-md-5  px-0 image-hover">
                                <%= image_tag @photo.image.url , id:"image_label"%>
                            </label>
                        <%=form.file_field :image, style:"display:none"%>
                        </div>
                        
                        <div class="row pl-3">
                            <div class="col-lg-5 col-md-5 d-flex justify-content-between p-0" >
                                
                                <%= form.submit t('.save'), class:"btn btn-success m-0"%>
                                
                                
                            </div>
                        </div>
                        
                        
                    </div>
                    <div class="col mr-4">
                        <div class="form-group">
                            <%=form.label t('.description')%>
                            <%=form.text_area :description, class:"form-control rounded-1", rows:"3" ,placeholder:"Photo Description", style:"border: 2px solid rgb(209, 207, 207)",size:"1x5"%>
                          </div>
                    </div>

<%end%>
<div class="row justify-content-center">
<div class="col-9 super" >
<%= button_to(user_photo_path(photo_id: @photo.id), data: { confirm: "Are you sure?" }, method: :delete, :class => "btn btn-danger ml-4") do %>
                                <i class='fa fa-trash'></i>    <%=t('.delete')%> 
<%end%>
</div>

</div>