<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    
    <%= stylesheet_link_tag 'style' %>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

</head>
<body>
    <div class="container-fluid" style="background-color: #fdf5f5">
        <%=render 'shared/header'%>
        <div class="container-fluid my-3">
                    <p class="alert<%if !flash[:error].blank?%><%=p " alert-secondary"%> <%else%><%=p " d-none"%><%end%>"><%= flash[:error] %></p>
                     <p class="alert<%if !flash[:success].blank?%><%=p " alert-secondary"%> <%else%><%=p " d-none"%><%end%>"><%= flash[:success] %></p>
                </div>
        <div class="row">
            <div class="col-xl-2 col-sm-12  my-1 p-0  text-center text-xl-left">
                <div class="btn-group-toggle left_col mx-5">
                  <%=button_to t('.feeds'), feedPhoto_path, {method: "get", class:"btn font-weight-bold"}%>
                  <%=button_to t('.discovery'), discovery_photo_path, {method: "get", class:"btn font-weight-bold"}%>  
                </div>          
            </div>

            <div class="col-xl-8 col-sm-12 photo_feed_container">
                <div class="row container_tab p-0">
                        <div class="profile px-0">
                
                            <div class="profile-image">
                                <%= image_tag(@user.avatar.url, alt:"avatar")  %>
                
                            </div>
                            
                            <%if current_user.id == @user.id%>
                            <div class="row ">
                                <div class="col">
                                    <%= button_to t('.editProfile'), edit_user_registration_path, {class:"btn btn-sm btn-primary btn_edit_profile", method:'get'}%>
                                </div>
                            </div>
                            <%else%>
                                <div class="row ">
                                <div class="col-lg-3">
                                   <% if current_user.followings.ids.include?(@user.id)%>                                               
                                        <%=button_to t(".unfollow"), toggleFollow_path(follow_id: @user.id, id: current_user.id), class:"btn btn-sm btn_toggle_follow m-0 p-0 following",  method: :post%>
                                    <%else%>
                                        <%=button_to t(".follow"), toggleFollow_path(follow_id: @user.id, id: current_user.id),class:"btn  btn-sm btn_toggle_follow m-0 p-0 follow", method: :post%>              
                                    <% end %>
                                </div>
                                </div>
                            <%end%>
                            <div class="profile-user-name font-weight-bold"><%="#{@user.name}"%></div>
                
                            <div class="profile-stats">
                                <ul class="p-0 left_col">
                                <%if current_user.id == @user.id%>
                                    <li class="px-1 border-right font-weight-bold left" ><span class="profile-stat-count left"><%=@user.photos.where(album_id:nil).count%></span> <%=t('.photos')%></li>
                                    <li class="px-1 border-right font-weight-bold " ><%= link_to user_albums_path(@user.id), style:"text-decoration: none" do%> <span class='profile-stat-count'><%=@user.albums.count%></span> <%=t('.albums')%> <%end%> </li>
                                <%else%>
                                    <li class="px-1 border-right font-weight-bold left" ><span class="profile-stat-count left"><%=@user.photos.where(album_id:nil, shared:true).count%></span> <%=t('.photos')%></li>
                                    <li class="px-1 border-right font-weight-bold " ><%= link_to user_albums_path(@user.id), style:"text-decoration: none" do%> <span class='profile-stat-count'><%=@user.albums.where(shared: true).count%></span> <%=t('.albums')%> <%end%> </li>
                                <%end%>
                                    <li class="px-1 border-right font-weight-bold " ><%= link_to followings_user_path(@user.id), style:"text-decoration: none" do%> <span class='profile-stat-count'><%=@user.followings.count%></span> <%=t('.followings')%> <%end%> </li>
                                    <li class="px-1  font-weight-bold " ><%= link_to followers_user_path(@user.id), style:"text-decoration: none" do%> <span class='profile-stat-count'><%=@user.followers.count%></span> <%=t('.followers')%> <%end%> </li>
                                </ul>
                            </div>
                        </div>
                </div>
                <%if current_user.id == @user.id%>
                <div class="row justify-content-end px-xl-4 my-3">
                    <div class="col-xl-2 col"><%=button_to t('.addPhoto'), new_user_photo_path, class:"btn btn-sm btn-success btn_add_photo p-0", method: "get"%></div>    
                </div>
                <%end%>
                <div class="row flex px-2">
                    
                    
                    <%@photos.each do |photo|%>
                    <%= render partial: 'photos/photo', locals: {photo: photo} %>
                    <%end%>

                </div>
                <div class="d-flex justify-content-center">
                    <%= paginate @photos%>
                </div>
                <div class="row w-100 " style="height:300px"></div>
            </div>

            <div class="col-xl-2 col-sm-12 p-0 m-0">
            </div>
            
        </div>
        <div class="row w-100 my-3"></div>
    </div>
     <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title text-break" id="myModalLabel"></h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <img src="" alt="PHOTO" id="photoModal">
        </div>
        <div class="modal-footer text-break" id="myModalDescription">
        </div>
      </div>
    </div>
  </div>
</body>
<%= javascript_pack_tag 'js' %>
</html>